<div style="width: 600px; height: 250px; display: block; margin: 2% auto">
    <style>.fig{text-align: center}</style>
    <p class="fig"><img src="https://klike.net/uploads/posts/2019-06/1561878144_9.jpg" width="400" height="400"
                        alt="Администратор с таким именем присутствует"></p>
    <h4 style="text-align: center; display: block; padding: 85px 0">Администратор с таким именем присутствует</h4>
    <a href="../" style="font-size: 20px;background: rgb(26, 235, 217); text-decoration: none;padding: 15px;
     color:white;">Вернуться к проверке</a>
</div>